.s-menu {
}

.s-nav, .s-logout {
}

.s-menu span {
}

.s-menu span:hover, .s-icon:hover {
}

.s-line {
}

.s-menu .a-dash { 
}

.s-icon {
    margin-right: 5px;
    font-size: 18px;
    /* background-color: #3538CD; */
}

.s-menu .a-logout {
    color: #3538CD;
}
