.sform-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 687px;
    height: auto;
    margin-top: 3%;
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    border-radius: 8px;
    background-color: #fff;
}


.sform-profile {
    width: 100%;
}

.sform-div {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.p-profile-label {
    font-size: 14px;
    font-weight: 600;
    color: #101828;
    margin-top: 25px;
}

#p-profile-input {
    font-size: 14px;
    width: 100%;
    height: 44px;
    border: 1px solid #98A2B3;
    border-radius: 6px;
    padding-left: 15px;
    padding-right: 15px;
    color: #101828;
    appearance: none;
    outline: none;
    margin-top: 10px;
}

.p-btn-update {
    font-size: 14px;
    font-weight: 600;
    width: 100%;
    height: 44px;
    border: none;
    color: #fff;
    border-radius: 6px;
    background-color: #3538CD;
    margin-top: 35px;
}